My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bac5a1d7-afb6-497e-ba13-faf32497307f",
        "authentication": "headerAuth",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        0
      ],
      "id": "8116a899-ce8b-4275-9de4-b7f9dd4cf70c",
      "name": "Github Failure Webhook",
      "webhookId": "bac5a1d7-afb6-497e-ba13-faf32497307f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "di7OFCwv4IJm6ljP",
          "name": "N8N_WEBHOOK_KEY"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $json.body.repo }}/actions/runs/{{ $json.body.run_id }}/jobs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7ed01726-01c9-462e-84b4-f42de74cc3a4",
      "name": "Fetch Logs",
      "credentials": {
        "httpBearerAuth": {
          "id": "aXPLsq2KHAenuk69",
          "name": "GITHUB PAT"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Fetch Changed Files').first().json.files[0].raw_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "20fc05e4-6f75-487e-ab14-e8e491d8ffc0",
      "name": "Fetch File Content"
    },
    {
      "parameters": {
        "jsCode": "const payload = $('Github Failure Webhook').first().json.body;\nconst jobs = $('Fetch Logs').first().json.jobs || [];\n\nconst failedJob = jobs.find(j => j.conclusion === 'failure') || jobs[0];\nconst failedSteps = failedJob?.steps?.filter(s => s.conclusion === 'failure') || [];\n\nconst stepDetails = failedSteps.map(s => `\n  Step: ${s.name}\n  Status: ${s.conclusion}\n  Started: ${s.started_at}\n  Completed: ${s.completed_at}\n`).join('\\n');\n\nconst commitData = $('Fetch Changed Files').first().json;\nconst changedFiles = commitData.files || [];\n\nconst codeExtensions = ['.js', '.ts', '.py', '.json', '.yml', '.yaml', '.sh', '.java', '.go', '.rb'];\nconst relevantFiles = changedFiles.filter(f => \n  codeExtensions.some(ext => f.filename.endsWith(ext)) && \n  f.status !== 'removed'\n);\n\nconst fileContent = $('Fetch File Content').first().json;\nconst actualCode = typeof fileContent === 'string' \n  ? fileContent \n  : (fileContent.data || fileContent.content || JSON.stringify(fileContent));\n\nlet filesSection = '';\n\nif (relevantFiles.length > 0) {\n  for (const file of relevantFiles) {\n    const ext = file.filename.split('.').pop();\n    const langMap = { \n      js: 'javascript', ts: 'typescript', py: 'python', \n      json: 'json', yml: 'yaml', yaml: 'yaml', \n      sh: 'bash', java: 'java', go: 'go', rb: 'ruby' \n    };\n    const lang = langMap[ext] || ext;\n\n    filesSection += `File: ${file.filename}\\nStatus: ${file.status}\\n\\`\\`\\`${lang}\\n${actualCode}\\n\\`\\`\\`\\n\\n`;\n  }\n} else {\n  filesSection = 'No relevant code files detected in this commit.';\n}\n\nconst prompt = `\nCI/CD Pipeline Failure Report\n==============================\nRepository: ${payload.repo}\nBranch: ${payload.branch}\nCommit: ${payload.commit}\nTriggered by: ${payload.actor}\nRun ID: ${payload.run_id}\nRun URL: https://github.com/${payload.repo}/actions/runs/${payload.run_id}\n\nFailed Job: ${failedJob?.name || 'Unknown'}\n\nFailed Steps:\n${stepDetails || 'Unknown'}\n\nAll Steps Summary:\n${failedJob?.steps?.map(s => `- ${s.name}: ${s.conclusion}`).join('\\n') || 'None'}\n\nChanged Files in This Commit (${relevantFiles.length} files):\n==============================\n${filesSection}\n==============================\n\nIMPORTANT INSTRUCTIONS:\n- The file_path must be the REAL file that needs fixing from the list above\n- The fixed_code must PRESERVE all existing working code, only fix the bug\n- Do NOT rewrite the entire file from scratch\n- Do NOT use placeholder values\n- Return ONLY valid JSON in this format:\n{\n  \"file_path\": \"actual/file/path.js\",\n  \"fixed_code\": \"complete corrected code here\",\n  \"explanation\": \"brief explanation of what was fixed\"\n}\n`;\n\nreturn { prompt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "4e1eb5a1-a150-457e-9237-46e71f8b17b3",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Github Failure Webhook').first().json.body.repo }}/compare/{{ $('Github Failure Webhook').first().json.body.commit }}~1...{{ $('Github Failure Webhook').first().json.body.commit }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "fe172494-bd8d-4b2a-8c46-f57a0a7f2de3",
      "name": "Fetch Changed Files",
      "credentials": {
        "httpBearerAuth": {
          "id": "aXPLsq2KHAenuk69",
          "name": "GITHUB PAT"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-lite-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-lite-latest"
        },
        "messages": {
          "values": [
            {
              "content": "\nYou are an expert DevOps engineer and Node.js developer. \n\nTASK:\nAnalyze the provided CI/CD failure logs and the source code. Identify the bug and provide a complete fix.\n\nCONSTRAINTS:\n1. Return ONLY a raw, valid JSON object. \n2. NO markdown, NO code blocks (```json), NO conversational text.\n3. The \"branch_name\" MUST be unique and specific to the fix (e.g., \"ai-fix/missing-express-init\"). DO NOT use \"main\" or \"master\".\n4. The \"fixed_code\" MUST be the entire file content with the fix applied.\n\nJSON SCHEMA:\n{\n  \"branch_name\": \"ai-fix/brief-description-of-fix{{ $now.toFormat('yyyyMMdd-HHmmss') }}\",\n  \"file_path\": \"the/actual/path/of/the/file/fixed.js\",\n  \"fixed_code\": \"entire updated file content\",\n  \"pr_title\": \"fix: brief title of the bug fix\",\n  \"pr_body\": \"## AI Auto-Fix\\n\\n**Root Cause Identified:**\\n[Brief description]\\n\\n**Changes Applied:**\\n[List of changes]\"\n}",
              "role": "model"
            },
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "id": "0fb72506-ec90-409d-a137-caed114ca82c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "k8gckKT38uknqbFi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Correctly target Gemini's JSON structure\nconst response = $input.first().json;\nconst raw = response?.content?.parts?.[0]?.text;\n\nif (!raw) {\n  throw new Error('Gemini output is incorrectly formatted or missing.');\n}\n\n// 2. Strip Markdown code blocks if Gemini wrapped it in ```json ... ```\nconst cleaned = raw.replace(/```json|```/g, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n  if (!parsed.fixed_code) {\n    throw new Error('Parsed JSON does not contain fixed_code');\n  }\n} catch (e) {\n  throw new Error('Gemini did not return valid JSON: ' + raw + ' | Error: ' + e.message);\n}\n\n// 3. Fetch webhook payload (Ensure this node name matches exactly!)\nconst payload = $('Github Failure Webhook').first().json.body;\n\n// 4. Return mapped outputs, providing safe fallbacks for missing properties\nreturn {\n  branch_name: parsed.branch_name,\n  file_path: parsed.file_path,\n  fixed_code: parsed.fixed_code,\n  base64_content: Buffer.from(parsed.fixed_code).toString('base64'),\n  pr_title: parsed.pr_title,\n  pr_body: parsed.pr_body,\n  repo: payload.repo,\n  commit: payload.commit\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        0
      ],
      "id": "2f128b11-3f28-4249-8266-722bb5c264b9",
      "name": "Extract AI Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $json.repo }}/git/refs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"refs/heads/{{ $json.branch_name }}\",\n  \"sha\": \"{{ $json.commit }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1600,
        0
      ],
      "id": "06d35fa7-50fc-4e73-8d9d-8c67880bf6c5",
      "name": "Create Branch",
      "credentials": {
        "httpBearerAuth": {
          "id": "aXPLsq2KHAenuk69",
          "name": "GITHUB PAT"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/{{ $('Extract AI Response').item.json.repo }}/contents/{{ $('Extract AI Response').item.json.file_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1808,
        0
      ],
      "id": "7bd5b322-d00d-4437-a7f7-78e91df02bd4",
      "name": "Get File SHA",
      "credentials": {
        "httpBearerAuth": {
          "id": "aXPLsq2KHAenuk69",
          "name": "GITHUB PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=  https://api.github.com/repos/{{ $('Extract AI Response').item.json.repo }}/contents/{{ $('Extract AI Response').item.json.file_path }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Extract AI Response').item.json.pr_title }}"
            },
            {
              "name": "=content",
              "value": "={{ $('Extract AI Response').item.json.base64_content }}"
            },
            {
              "name": "sha",
              "value": "={{ $json.sha }}"
            },
            {
              "name": "branch",
              "value": "={{ $('Extract AI Response').item.json.branch_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        0
      ],
      "id": "fba61b3e-36c4-48e0-8a5e-069652fdeb09",
      "name": "Push Fixed File",
      "credentials": {
        "httpBearerAuth": {
          "id": "aXPLsq2KHAenuk69",
          "name": "GITHUB PAT"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Extract AI Response').item.json.repo }}/pulls",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $('Extract AI Response').item.json.pr_title }}"
            },
            {
              "name": "body",
              "value": "={{ $('Extract AI Response').item.json.pr_body }}"
            },
            {
              "name": "head",
              "value": "={{ $('Extract AI Response').item.json.branch_name }}"
            },
            {
              "name": "base",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2224,
        0
      ],
      "id": "71d7bdde-62fd-431e-80dc-e9b86002f422",
      "name": "Open Pull Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "aXPLsq2KHAenuk69",
          "name": "GITHUB PAT"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "suraj.telrandhe5260@gmail.com",
        "subject": "=CICD Failure: Fixed by AI - {{ $json.title }}",
        "emailType": "text",
        "message": "= Hello, The AI Self-Healing Pipeline has automatically detected and fixed a CI/CD failure in your repository.  Repository: {{ $('Github Failure Webhook').first().json.body.repo }} Branch: {{ $('Extract AI Response').first().json.branch_name }} Fix Title: {{ $('Extract AI Response').first().json.pr_title }}  Pull Request has been created. Please review and merge: https://github.com/{{ $('Github Failure Webhook').first().json.body.repo }}/pulls Best regards,  AI Self-Healing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2432,
        0
      ],
      "id": "b25b07b9-f59a-4ed3-9134-07e1600d4937",
      "name": "Send a message",
      "webhookId": "bc5634c4-958e-4648-8110-944b5af7a3cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "ItPQvsUNIgcbgNX8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Github Failure Webhook": {
      "main": [
        [
          {
            "node": "Fetch Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Logs": {
      "main": [
        [
          {
            "node": "Fetch Changed Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Changed Files": {
      "main": [
        [
          {
            "node": "Fetch File Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Extract AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Response": {
      "main": [
        [
          {
            "node": "Create Branch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Branch": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "Push Fixed File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push Fixed File": {
      "main": [
        [
          {
            "node": "Open Pull Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open Pull Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7ad3b5bd-5149-44fc-8d7a-1f73b528f639",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54d9472c9647b2301c248a06f60e6b3956208ec07525e9915b751d7776a091cf"
  },
  "nodeGroups": [],
  "id": "S6LAbgsF0m8ygBN5",
  "tags": []
}